/* [project]/src/app/calculator/page.module.css [app-client] (css) */
.page-module__4Pk6Yq__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.page-module__4Pk6Yq__calculator {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-module__4Pk6Yq__calculator_text {
  text-align: center;
  font-size: 20px;
  width: 50%;
}


/* [project]/src/components/header.module.css [app-client] (css) */
.header-module__3iWRfG__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.header-module__3iWRfG__first_head {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-module__3iWRfG__first_head_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-module__3iWRfG__first_head_item_phone {
  background-image: url("../media/phone.45616b31.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 20px;
  height: 24px;
}

.header-module__3iWRfG__first_head_item_logo {
  background-image: url("../media/logo.dab1cae9.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 155px;
  height: 61px;
}

.header-module__3iWRfG__first_head_item_place {
  background-image: url("../media/tochka.e5061de1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 15px;
  height: 20px;
}

.header-module__3iWRfG__first_head_item_text {
  margin-left: 10px;
}

.header-module__3iWRfG__second_head {
  margin: 15px 0;
}

.header-module__3iWRfG__second_head_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.header-module__3iWRfG__second_head_menu_link {
  text-decoration: none;
  color: #e7d5a1;
}

.header-module__3iWRfG__second_head_menu_icon {
  display: flex;
}

.header-module__3iWRfG__second_head_menu_icon_img {
  margin-left: 40px;
}

.header-module__3iWRfG__second_head_menu_icon_img_person {
  background-image: url("../media/person.58f8cdd3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 33px;
  height: 33px;
}

.header-module__3iWRfG__second_head_menu_icon_img_basket {
  background-image: url("../media/basket.37697a4e.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 36px;
  height: 34px;
}


/* [project]/src/components/footer.module.css [app-client] (css) */
.footer-module__nP6W3G__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.footer-module__nP6W3G__footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-module__nP6W3G__footer_img {
  background-image: url("../media/logo.dab1cae9.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 155px;
  height: 61px;
}

.footer-module__nP6W3G__footer_content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-module__nP6W3G__footer_content_mode {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-module__nP6W3G__footer_content_mode_datatime {
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.footer-module__nP6W3G__footer_content_contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-module__nP6W3G__footer_content_contacts_type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.footer-module__nP6W3G__footer_content_contacts_type_email {
  background-image: url("../media/email.6da6d8f4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 23px;
  height: 15px;
}

.footer-module__nP6W3G__footer_content_contacts_type_phone {
  background-image: url("../media/phone.45616b31.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 20px;
  height: 27px;
}

.footer-module__nP6W3G__footer_content_contacts_type_place {
  background-image: url("../media/tochka.e5061de1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  width: 15px;
  height: 20px;
}

.footer-module__nP6W3G__footer_copyright {
  margin: 40px 0 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.footer-module__nP6W3G__footer_copyright_link {
  color: #e7d5a1;
}


/* [project]/src/components/calculator.module.css [app-client] (css) */
.calculator-module__MWU_KW__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.calculator-module__MWU_KW__calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-module__MWU_KW__calculator_block {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.calculator-module__MWU_KW__calculator_block_brand {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.calculator-module__MWU_KW__calculator_block_brand_input {
  background-color: #3d4149;
  border-color: #e7d5a1;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}

.calculator-module__MWU_KW__calculator_block_brand_select {
  background-color: #3d4149;
  border-color: #e7d5a1;
  color: #e7d5a1;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}

.calculator-module__MWU_KW__calculator_block_type {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.calculator-module__MWU_KW__calculator_block_type_input {
  background-color: #3d4149;
  border-color: #e7d5a1;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}

.calculator-module__MWU_KW__calculator_block_repair {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.calculator-module__MWU_KW__calculator_block_repair_checked {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calculator-module__MWU_KW__calculator_block_repair_checked_input {
  color: #3d4149;
  border: 2px #e7d5a1;
  accent-color: #e7d5a1;
  width: 20px;
  height: 20px;
}

.calculator-module__MWU_KW__calculator_block_more {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.calculator-module__MWU_KW__calculator_block_more_checked {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calculator-module__MWU_KW__calculator_block_more_checked_input {
  color: #3d4149;
  border: 2px #e7d5a1;
  accent-color: #e7d5a1;
  width: 20px;
  height: 20px;
}

.calculator-module__MWU_KW__calculator_result {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calculator-module__MWU_KW__calculator_result_title {
  font-size: 30px;
}

.calculator-module__MWU_KW__calculator_result_price {
  font-size: 36px;
}

.calculator-module__MWU_KW__calculator_result_note {
  font-size: 20px;
}

.calculator-module__MWU_KW__calculator_result_button {
  margin-top: 5%;
  color: #3d4149;
  background-color: #e7d5a1;
  text-decoration: none;
  padding: 13px 36px;
  border-radius: 10px;
  font-weight: 600;
}


/*# sourceMappingURL=src_fe66af._.css.map*/
